.iewp-lug-meeting .meta-row {
	margin-bottom: 20px;
}

.iewp-lug-meeting fieldset {
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
}

.iewp-lug-meeting legend {
	text-transform: uppercase;
	font-size: 120%;
	letter-spacing: 1px;
	font-weight: bold;
}

.iewp-lug-meeting label {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}

.iewp-lug-meeting input.fw {
	width: 100%;
}